@import 'base/vars';

@import 'theme/gallente';

@import 'lib/functions';
@import 'lib/skel';

@import url('https://fonts.googleapis.com/css?family=Source Sans Pro:300italic,600italic,300,600');

@include skel-breakpoints((
    xlarge:		'(max-width: 1680px)',
    large:		'(max-width: 1280px)',
    medium:		'(max-width: 980px)',
    small:		'(max-width: 736px)',
    xsmall:		'(max-width: 520px)',
    xxsmall:	'(max-width: 360px)'
));

@include skel-layout((
    reset: 'full',
    boxModel: 'border'
));


@import 'base/page';
@import 'base/typography';
@import 'base/ui';

@import 'components/button';
@import 'components/carousel';
@import 'components/candidate';

@import 'layout/base';
@import 'layout/header';
@import 'layout/footer';
