
@-ms-viewport {
    width: device-width;
}

html {
    background: _palette(bg);
}

// Ensures page width is always >=400px.
@include breakpoint(xsmall) {
    html, body {
        min-width: 400px;
    }
}

body {
    background: _palette(bg);
    // Should we require a background image:
    background-image: url('../../images/icon.png');
    // background-image: url('../../images/bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    #body-wrapper {
        background: rgba(20,20,20,1.0);
    }
    
    #body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        background-image: linear-gradient(180deg,
            rgba(10, 10, 10, 0.65) 0%,
            rgba(20, 20, 20, 0.70) 25%,
            rgba(15, 15, 15, 0.65) 50%,
            rgba(25, 25, 25, 0.60) 75%,
        );
        background-size: 4px 4px;
    }

    &.is-loading,
    .body.is-loading,
    &.is-switching { 
        *, *:before, *:after {
            @include vendor('animation', 'none !important');
            @include vendor('transition', 'none !important');
            @include vendor('transition-delay', 'none !important');
        }
    }
}
