// Duration.
$duration: (
    transition:                 0.25s
);

// Size.
$size: (
    border-radius:				4px,
    border-width:				1px,
    element-height:				2rem,
    element-margin:				1.15rem
);

// Font.
$font: (
    family:						('Source Sans Pro', sans-serif),
    family-fixed:				('Courier New', monospace),
    weight:						300,
    weight-bold:				600,
    letter-spacing:				0.15rem,
    letter-spacing-heading:		0.4rem
);

// Palette.
$palette: (
    bg:							rgb(20,20,20),
    bg-alt:						rgb(20,20,20),
    fg:							#ffffff,
    fg-bold:					#ffffff,
    border:						#ffffff,
    border-bg:					rgba(255,255,255,0.25),
    border-bg-alt:				rgba(255,255,255,0.5),
    button-border:              rgba(255,255,255,0.5),
    button-hover:               rgba(255,255,255,0.5),
    button-hover-fg:            rgba(10,10,10,0.75)
);

// UI Colors
$ui: (
    base:                       rgb(200,200,200),
    side-lines:                 rgb(100,100,100),
    side-lines-inside:          rgb(100,100,100),
    dark:                       rgb(50,50,50),
    black:                      rgb(0,0,0),
    white:                      rgb(255,255,255),
);
