// Gallente layout

// UI Colors
$ui: (
    base:                       desaturate(rgb(19, 235, 162), 70%),
    side-lines:                 desaturate(rgb(5, 172, 114), 70%),
    side-lines-inside:          desaturate(rgb(10, 212, 139), 70%),
    dark:                       rgb(40,50,45),
    black:                      rgb(0,0,0),
    white:                      rgb(255,255,255),
);

$background-image:              '../../images/gallente.png';
