#main .candidate {
    width: 100%;
    height: 100%;
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .intro {
            flex: 0 1 55vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            min-height: 0;
            min-width: 55vh;

            &:hover {
                > .data div.portrait > .tweet {
                    opacity: 1;
                }
            }
    
            > .overview {
                flex: 0 1 auto;
                > h2 { 
                    writing-mode: vertical-lr;
                    text-orientation: sideways-right;
                    height: 100%;
                    text-align: center;
                    margin: 0 0.5rem;
                }
            }
    
            > .data {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                min-height: 0;
    
                > div {
                    flex: 1 1 auto;
                    min-height: 0;
                    padding: 0.5rem;
                    background-color: rgba(40,40,40,0.5);
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    position: relative;
                }
    
                div.portrait {
                    > .tweet {
                        opacity: 0.5;
                        transition: opacity 1s;
                        position: absolute;
                        max-width: 15%;
                        max-height: 15%;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        svg {
                            path {
                                fill: rgba(100,100,100,0.8);
                                stroke: rgba(0,0,0,0.8);
                                stroke-width: 5px;
                            }
                        }
                    }
                    > img {
                        max-width: 100%;
                        max-height: 100%;
        
                        object-fit: contain;            
                    }
                }
                div.name {
                    flex: 0 1 auto;
                    > h2 {
                        text-align: center;
                        margin: 0;
                        padding: 0.25rem 0rem;
                        margin: 0.25rem 0.1rem 0.5rem;
                        background-color: rgba(80,80,80,0.5);
                    }
                }
            }
        }
        .details {
            flex: 1 1 auto;
            margin-left: 1rem;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            
            min-height: 0;
    
            > div {
                flex: 1 1 50%;
                min-height: 0;
    
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                background-color: rgba(40,40,40,0.5);
                padding: 0 1rem;
    
                > h3 { 
                    text-align: center;
                    flex: 0 1 auto;
                    margin: 0.25rem 0 0.25rem;
                }
    
                > div {
                    min-height: 0;
                    flex: 1 1 auto;
                    overflow-y: auto;
    
                    &::-webkit-scrollbar {
                        width: 0.5rem;
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 0.25rem;
                        border: 1px solid rgba(0,0,0,0.6);
                        background-color: rgba(100,100,100,0.6);
                    }
                }
            }
    
            .dossier {
                margin-bottom: 0.25rem;
                
    
                h3 {
                    text-align: center;
                }
                > div {
                    width: 100%;
                    height: 100%;
                }
            }
            .recent {
    
                margin-top: 0.25rem;
                background-color: rgba(40,40,40,0.5);
                h3 {
                    text-align: center;
                }
                li {
                    display: flex;
                    flex-direction: row;

                    > span.date {
                        flex: 0 1 auto;
                        padding-right: 0.75rem;
                    }
                    > a {
                        flex: 1 1 auto;
                    }

                }
            }
        }
    }
}
@media (orientation: portrait) {
    #main {

    }
    #main .slider .slider-list .slider-slide {
        padding: 2rem 0 1rem;
    }
    #main .candidate {
        
        overflow-y: scroll;

        .wrapper {
            flex-direction: column;

            .intro {
                flex-direction: column;

                .overview h2 {
                    writing-mode: horizontal-tb;
                    display: none;
                }

                .data {
                    > div {
                        background-color: transparent;
                    }
                    img {
                        min-width: 90vw;
                        height: 90vw;
                    }
                }
                min-height: 50vh;
            }

            .details {
                margin-top: 1rem;
                margin-left: 0;
                min-height: 50vh;
            }

        }
        &::-webkit-scrollbar {
            width: 0.5rem;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0.25rem;
            border: 1px solid rgba(0,0,0,0.6);
            background-color: rgba(100,100,100,0.6);
        }
    }
}
