.is-ready #footer{
    .wrapper {
        > svg {
            #f-top-bar {
                stroke-dasharray: 0px 2600px;
                animation: top-bar-line 1.5s ease-in-out 0s forwards;
            }
            #f-big-bar {
                stroke-dasharray: 0px 2600px;
                animation: big-bar-line 1.25s ease-in-out 0.25s forwards;
            }
            #f-panel {
                opacity: 0;
                animation: opacity 1.25s ease-in-out 0.75s forwards;
            }
            .side-lines {
                stroke-dasharray: 0px 500px;
                animation: side-lines 1s ease-in-out 1s forwards;
            }
        }
        .container{
            opacity: 0.75;

            > * {
                opacity: 0;
                animation: opacity 1s ease-in-out 2s forwards;
                @include vendor('user-select', 'none');
            }
        }
    }
}

#footer {
    .container {
        padding: 6.2vh 6vw 1vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        > * {
            flex: 1;
        }
    }
}

@media (orientation: portrait) {
    #footer {
        .container {
            padding: 5.5vh 6vw 1vh;
        }
    }
}